.architecture_section{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 580px;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* min, value, max */
.architecture_section h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
}

.node_menu{
    z-index: 9;
    position: 'absolute';
    top: 15;
    right: 15;
    background: 'rgba(0, 0, 0, .5)';
    padding: 10;
    color: 'white';
}