.logo_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
}

.logo_section h1{
    font-size: 3rem;
}

.logo_section h2{
    font-size: 2rem;
}

.logo_section img{
    /* height: auto; */
    animation: float 2.5s ease-in-out infinite;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .subtitle{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.9);
  }

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-60px); }
    100% { transform: translateY(0px); }
  }