.app-container {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    font-family: 'Noto Sans';
}
  
.sidebar{
    width: 250px;
    padding: 20px;
    margin-top: 2rem;
    position: sticky;
    font-size: 1.25rem;
    color: white;
    top: 0;
}

.sidebar ul li{
    list-style-type: none;
}

.sidebar li{
    margin-bottom: 2.5rem;
}
  
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
  